PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX knora-admin: <http://www.knora.org/ontology/knora-admin#>
PREFIX knora-base: <http://www.knora.org/ontology/knora-base#>

# Delete knora-base.
DROP GRAPH <http://www.knora.org/ontology/knora-base> ;

# Insert knora-admin.
INSERT DATA {
    GRAPH <http://www.knora.org/ontology/knora-admin> {
        $knoraAdmin
    }
} ;

# Insert knora-base.
INSERT DATA {
    GRAPH <http://www.knora.org/ontology/knora-base> {
        $knoraBase
    }
} ;

$updatePredicatesAndObjects ;

$updatePredicates ;

$updateObjects ;

# Update permission strings.
DELETE {
    GRAPH ?g {
        ?s knora-base:hasPermissions ?oldPermissions .
    }
} INSERT {
    GRAPH ?g {
        ?s knora-base:hasPermissions ?newPermissions .
    }
}
USING <http://www.ontotext.com/explicit>
WHERE
{
    GRAPH ?g {
        ?s knora-base:hasPermissions ?oldPermissions .
    }

    FILTER(REGEX(?oldPermissions, "knora-base"))
    BIND(REPLACE(?oldPermissions, "knora-base", "knora-admin") AS ?newPermissions)
}
