/.project
**/.idea
**/*.iml
**/*.ipr
**/*.iws
/logs/
/bin/
/info.aduna.logging.dir_IS_UNDEFINED/
.cache
.classpath
.docker
.ensime
.ensime_cache
.env
.tmp
native
**/.DS_Store
docs/env
docs/_build
docs/_format_docu
docs/_format_docu_v2
docs/project
salsah1/project
webapi/project
webapi/_fuseki/run
webapi/build
upgrade/project
upgrade/target
triplestores/graphdb-se-7
idea.vmoptions
sipi/test

**/project/target/
/target/
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.tdo
*.toc
*.bak
.sbtrc

/knora-sipi
/knora-graphdb-se
/knora-graphdb-free
/knora-assets
/knora-upgrade

**/venv
**/__pycache__
knora-assets
knora-graphdb-free
knora-graphdb-se
knora-sipi
knora-upgrade
dump.rdb
