/.project
/.idea
target/
*.iml
/logs/
/bin/
/info.aduna.logging.dir_IS_UNDEFINED/
.cache
.classpath
.ensime
.ensime_cache
native
**/.DS_Store
docs/env
docs/_build
webapi/_TMP
webapi/_fuseki/run/databases
webapi/_fuseki/run/system
webapi/_fuseki/run/templates
webapi/_fuseki/run/lucene
webapi/logs
webapi/src/main/resources/query-log/
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.tdo
*.toc
.sbtrc
webapi/lib/chromedriver
