/.project
.ijwb
.vscode
.bloop
.bsp
**/.idea
**/*.iml
**/*.ipr
**/*.iws
/bin/
.docker
.env
**/.DS_Store
salsah1/project
webapi/project
webapi/_fuseki/run
webapi-it
webapi-test
upgrade/project
sipi/test

**/project/target/
**/target/
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.tdo
*.toc
*.bak
.sbtrc

dependencies.txt
/client-test-data.zip
/sipi/images/082E/*
/sipi/images/originals/082E/*
/dependencies.bzl

.idea/
.metals/
metals.sbt

.tmp/
