#  Defined in KnoraBuild.sbt:
# - KNORA_GDB_LICENSE - path to the GraphDB-SE license file (can be overridden through environment variable KNORA_GDB_LICENSE)
# - KNORA_GDB_HOME - path to a local folder where GraphDB should store it's data can be overridden through environment variable KNORA_GDB_HOME)
# - KNORA_GDB_TYPE - the GraphDB version used ('graphdb-se' or 'graphdb-free')
#
# To run: $ sbt dockerComposeUp

version: '3'

services:

  graphdb:
    image: ${KNORA_GDB_IMAGE}<localBuild>
    ports:
      - "7200:7200"
    volumes:
      - ${KNORA_GDB_LICENSE}:/graphdb/GRAPHDB_SE.license
      - ${KNORA_GDB_HOME}:/opt/graphdb/home:delegated
      - ${KNORA_GDB_HOME}/graphdb-import:/root/graphdb-import
    networks:
      - knora-net
    environment:
    - GDB_HEAP_SIZE=4G
    - GDB_JAVA_OPTS=-Dgraphdb.license.file=/graphdb/GRAPHDB_SE.license -Dgraphdb.home=/opt/graphdb/home
    command: ["/graphdb/bin/graphdb"]

  sipi:
    image: ${KNORA_SIPI_IMAGE}<localBuild>
    ports:
      - "1024:1024"
    volumes:
      - /tmp:/tmp
      - ${PWD}/sipi/config:/sipi/config
      - ${PWD}/sipi/images:/sipi/images:delegated
      - ${PWD}/sipi/server:/sipi/server:delegated
    networks:
      - knora-net
    restart: unless-stopped
    environment:
      - SIPI_EXTERNAL_PROTOCOL=http
      - SIPI_EXTERNAL_HOSTNAME=0.0.0.0
      - SIPI_EXTERNAL_PORT=1024
      - SIPI_WEBAPI_HOSTNAME=webapi
      - SIPI_WEBAPI_PORT=3333
    command: --config=/sipi/config/sipi.knora-docker-it-config.lua

  redis:
    image: redis:5
    ports:
      - "6379:6379"
    networks:
      - knora-net

  webapi:
    image: ${KNORA_WEBAPI_IMAGE}<localBuild>
    ports:
      - "3333:3333"
      - "10001:10001"
    volumes:
      - /tmp:/tmp
    networks:
      - knora-net
    environment:
      - KNORA_AKKA_LOGLEVEL=DEBUG
      - KNORA_AKKA_STDOUT_LOGLEVEL=DEBUG
      - KNORA_WEBAPI_TRIPLESTORE_HOST=graphdb
      - KNORA_WEBAPI_TRIPLESTORE_DBTYPE=${KNORA_GDB_TYPE}
      - KNORA_WEBAPI_SIPI_INTERNAL_HOST=sipi
      - KNORA_WEBAPI_TRIPLESTORE_GRAPHDB_REPOSITORY_NAME=knora-test
      - KNORA_WEBAPI_CACHE_SERVICE_ENABLED=true
      - KNORA_WEBAPI_CACHE_SERVICE_REDIS_HOST=redis
      - KNORA_WEBAPI_CACHE_SERVICE_REDIS_PORT=6379
      - KNORA_WEBAPI_ALLOW_RELOAD_OVER_HTTP=true

  salsah1:
    image: ${KNORA_SALSAH1_IMAGE}<localBuild>
    ports:
      - "3335:3335"
    networks:
      - knora-net
    environment:
      - KNORA_SALSAH1_HOSTNAME=0.0.0.0
      - KNORA_SALSAH1_PORT=3335
      - KNORA_SALSAH1_WEBAPI=http://0.0.0.0:3333
      - KNORA_SALSAH1_SIPI=http://0.0.0.0:1024

networks:
  knora-net:
