<span bind="or_views_dataType"></span>
<textarea class="data-table-cell-editor-editor" bind="textarea"/>
<div id="data-table-cell-editor-actions">
    <div class="data-table-cell-editor-action">
        <button class="btn btn-primary" bind="okButton"></button>
        <div class="data-table-cell-editor-key" bind="or_views_enter"></div>
    </div>
    <div class="data-table-cell-editor-action">
        <button class="btn btn-secondary" bind="cancelButton"></button>
        <div class="data-table-cell-editor-key" bind="or_views_esc"></div>
    </div>
</div>