<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright © 2015 Lukas Rosenthaler, Benjamin Geer, Ivan Subotic,
  ~ Tobias Schweizer, André Kilchenmann, and Sepideh Alassi.
  ~
  ~ This file is part of Knora.
  ~
  ~ Knora is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Knora is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public
  ~ License along with Knora.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration scan="false" debug="false">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] %-5level - %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/console.log</File>
        <encoder>
            <pattern>[%date{ISO8601}] %-5level %logger{0} - %X{sourceThread} - %X{akkaSource} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/console.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="org.apache.jena.riot" level="ERROR"/>
    <logger name="org.apache.jena.tdb" level="ERROR"/>

    <logger name="akka" level="INFO"/>
    <logger name="akka.event.slf4j.Slf4jLogger" level="ERROR"/>

    <logger name="net.sf.ehcache.config" level="ERROR"/>

    <logger name="spray.can.server.HttpListener" level="ERROR"/>

    <logger name="org.knora" level="INFO"/>
    <logger name="org.knora.webapi" level="INFO"/>
    <logger name="org.knora.webapi.util.cache" level="INFO"/>
    <logger name="org.knora.webapi.util.PermissionUtilV1" level="INFO"/>
    <logger name="org.knora.webapi.util.TransformData" level="INFO"/>
    <logger name="org.knora.webapi.routing.Authenticator" level="INFO"/>
    <logger name="org.knora.webapi.routing.JWTHelper" level="INFO"/>
    <logger name="org.knora.webapi.routing.v1.AssetsRouteV1" level="INFO"/>
    <logger name="org.knora.webapi.routing.v1.ResourcesRouteV1" level="INFO"/>
    <logger name="org.knora.webapi.routing.v1.StandoffRouteV1" level="INFO"/>
    <logger name="org.knora.webapi.routing.v1.ValuesRouteV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.CkanResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.GroupsResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.ListsResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.UsersResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.ProjectsResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.GroupsResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.PermissionsResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.ResourcesResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.ValuesResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.StoreResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.OntologyResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.store.StoreManager" level="INFO"/>
    <logger name="org.knora.webapi.store.triplestore.TriplestoreManager" level="INFO"/>
    <logger name="org.knora.webapi.store.triplestore.http.HttpTriplestoreConnector" level="INFO"/>
    <logger name="org.knora.webapi.store.triplestore.http.GraphProtocolAccessor" level="INFO"/>
    <logger name="org.knora.webapi.viewhandlers.ResourceHtmlView" level="INFO"/>
    <logger name="org.knora.webapi.other.v1.DrawingsGodsV1Spec" level="INFO"/>
    <logger name="org.knora.webapi.other.v1.DrawingsGodsV1E2ESpec" level="INFO"/>
    <logger name="org.knora.webapi.e2e.v1.UsersV1E2ESpec" level="INFO"/>
    <logger name="org.knora.webapi.e2e.v1.ProjectsV1E2ESpec" level="INFO"/>
    <logger name="org.knora.webapi.e2e.v1.GroupsV1E2ESpec" level="INFO"/>
    <logger name="org.knora.webapi.e2e.v2.AuthenticationV2E2ESpec" level="INFO"/>
    <logger name="org.knora.webapi.routing.v1.AuthenticationV1R2RSpec" level="INFO"/>


    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="R"/>
    </root>
</configuration>
