@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>.
@prefix rep: <http://www.openrdf.org/config/repository#>.
@prefix sr: <http://www.openrdf.org/config/repository/sail#>.
@prefix sail: <http://www.openrdf.org/config/sail#>.
@prefix owlim: <http://www.ontotext.com/trree/owlim#>.

[] a rep:Repository ;
   rep:repositoryID "knora-test" ;
   rdfs:label "Knora test repository" ;
   rep:repositoryImpl [
     rep:repositoryType "graphdb:FreeSailRepository" ;
     sr:sailImpl [
       sail:sailType "graphdb:FreeSail" ;
       owlim:ruleset "PIE_FILE" ;
       owlim:check-for-inconsistencies "true";
       owlim:base-URL "http://rdfh.ch/" ;
       owlim:repository-type "file-repository" ;
       owlim:query-timeout "5" ;
       owlim:throw-QueryEvaluationException-on-timeout "true";
       owlim:query-limit-results "50000";
      ]
   ].
