name: CI-build-and-test

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches-ignore:
      - "**/graphite-base/**"

env:
  JAVA_VERSION: 21

jobs:
  build-sipi-image:
    name: Build Sipi image
    runs-on: buildjet-4vcpu-ubuntu-2204
    steps:
      - name: Run preparatory steps
        uses: dasch-swiss/dsp-api/.github/actions/preparation@main
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - name: Build Sipi image
        run: |
          export DOCKER_BUILDKIT=1
          ./sbtx "sipi / Docker / publishLocal"
      - name: Export Sipi image
        run: docker save daschswiss/knora-sipi -o ${{ runner.temp }}/knora-sipi.tar
      - name: Upload Sipi image artifact
        uses: actions/upload-artifact@v4
        with:
          name: knora-sipi-image
          path: ${{ runner.temp }}/knora-sipi.tar
          compression-level: 1
          retention-days: 1

  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Run preparatory steps
        uses: dasch-swiss/dsp-api/.github/actions/preparation@main
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - name: Run webapi tests
        run: ./sbtx -v coverage webapi/test
      - name: Run ingest tests
        run: ./sbtx -v coverage ingest/test
      - name: Aggregate coverage
        run: ./sbtx -v coverageAggregate
      - name: WebApi Unit Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: WebApi Unit Test Results
          path: ./webapi/target/test-reports/TEST-*.xml
          reporter: java-junit
      - name: Upload coverage data to codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./target/scala-3.3.7/coverage-report/cobertura.xml
      - name: Upload coverage data to codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./target/scala-3.3.7/coverage-report/cobertura.xml

  test-bagit:
    name: Test bagit
    runs-on: ubuntu-latest
    steps:
      - name: Run preparatory steps
        uses: dasch-swiss/dsp-api/.github/actions/preparation@main
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - name: Run bagit tests
        run: ./sbtx -v bagit/test
      - name: Bagit Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Bagit Test Results
          path: ./modules/bagit/target/test-reports/TEST-*.xml
          reporter: java-junit

  test-it:
    name: IT test
    needs: build-sipi-image
    runs-on: buildjet-4vcpu-ubuntu-2204
    concurrency:
      group: ${{ github.ref }}-it
      cancel-in-progress: true
    steps:
      - name: Run preparatory steps
        uses: dasch-swiss/dsp-api/.github/actions/preparation@main
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - name: Download Sipi image
        uses: actions/download-artifact@v4
        with:
          name: knora-sipi-image
          path: ${{ runner.temp }}
      - name: Load Sipi image
        run: docker load --input ${{ runner.temp }}/knora-sipi.tar
      - name: Run integration tests
        run: ./sbtx -v coverage test-it/test coverageAggregate
      - name: WebApi IT Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: WebApi IT Test Results
          path: ./modules/test-it/target/test-reports/TEST-*.xml
          reporter: java-junit
      - name: Upload coverage data to codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./target/scala-3.3.7/coverage-report/cobertura.xml
      - name: Upload coverage data to codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./target/scala-3.3.7/coverage-report/cobertura.xml

  test-e2e:
    name: E2E test
    needs: build-sipi-image
    runs-on: buildjet-32vcpu-ubuntu-2204
    concurrency:
      group: ${{ github.ref }}-e2e
      cancel-in-progress: true
    steps:
      - name: Run preparatory steps
        uses: dasch-swiss/dsp-api/.github/actions/preparation@main
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - name: Download Sipi image
        uses: actions/download-artifact@v4
        with:
          name: knora-sipi-image
          path: ${{ runner.temp }}
      - name: Load Sipi image
        run: docker load --input ${{ runner.temp }}/knora-sipi.tar
      - name: Run end-to-end tests
        run: ./sbtx "test-e2e/test"
      - name: WebApi E2E Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: WebApi E2E Test Results
          path: ./modules/test-e2e/target/test-reports/TEST-*.xml
          reporter: java-junit

  test-ingest-integration:
    needs: build-sipi-image
    runs-on: ubuntu-latest
    steps:
      - name: Run preparatory steps
        uses: dasch-swiss/dsp-api/.github/actions/preparation@main
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - name: Download Sipi image
        uses: actions/download-artifact@v4
        with:
          name: knora-sipi-image
          path: ${{ runner.temp }}
      - name: Load Sipi image
        run: docker load --input ${{ runner.temp }}/knora-sipi.tar
      - name: Build ingest image
        run: |
          export DOCKER_BUILDKIT=1
          ./sbtx "ingest / Docker / publishLocal"
      - name: Run integration tests
        run: ./sbtx -v coverage ingestIntegration/test coverageAggregate
      - name: WebApi Ingest Integration Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: WebApi Ingest Integration Test Results
          path: ./modules/test-ingest-integration/target/test-reports/TEST-*.xml
          reporter: java-junit
      - name: Upload coverage data to codacy
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./target/scala-3.3.7/coverage-report/cobertura.xml
      - name: Upload coverage data to codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./target/scala-3.3.7/coverage-report/cobertura.xml

  test-docs-build:
    name: Test docs
    runs-on: ubuntu-latest
    steps:
      - name: Run preparatory steps
        uses: dasch-swiss/dsp-api/.github/actions/preparation@main
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - name: Checkout source
        uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
      - name: Install requirements (pip, npm, apt)
        run: |
          just docs-install-requirements
          npm install --global typedoc
          sudo apt-get install graphviz
      - name: markdownlint
        run: just markdownlint
      - name: Build docs
        run: just docs-build

  check-formatting:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - name: Run preparatory steps
        uses: dasch-swiss/dsp-api/.github/actions/preparation@main
        with:
          java-version: ${{ env.JAVA_VERSION }}
      - name: Check formatting
        run: make check
