<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.rdf4j.rio.RDFParserRegistry" level="ERROR"/>
    <logger name="org.apache.jena.riot" level="ERROR"/>
    <logger name="org.apache.jena.tdb" level="ERROR"/>
    <logger name="akka" level="ERROR"/>
    <logger name="akka.event.slf4j.Slf4jLogger" level="ERROR"/>
    <logger name="net.sf.ehcache.config" level="ERROR"/>
    <logger name="net.sf.ehcache.cache" level="ERROR"/>
    <logger name="kamon.metric" level="ERROR"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="org.apache.http.wire" level="INFO"/>

    <!-- Logging inside ZIO -->
    <logger name="zio-slf4j-logger" level="INFO"/>

    <!-- V1 -->

    <logger name="org.knora" level="INFO"/>
    <logger name="org.knora.webapi" level="INFO"/>
    <logger name="org.knora.webapi.app.ApplicationActor" level="INFO"/>
    <logger name="org.knora.webapi.util.cache" level="ERROR"/>
    <logger name="org.knora.webapi.util.PermissionUtilADM" level="INFO"/>
    <logger name="org.knora.webapi.update.UpdateRepository" level="INFO"/>
    <logger name="org.knora.webapi.routing.Authenticator" level="INFO"/>
    <logger name="org.knora.webapi.routing.JWTHelper" level="INFO"/>
    <logger name="org.knora.webapi.routing.v1.AssetsRouteV1" level="INFO"/>
    <logger name="org.knora.webapi.routing.v1.ResourcesRouteV1" level="INFO"/>
    <logger name="org.knora.webapi.routing.v1.StandoffRouteV1" level="INFO"/>
    <logger name="org.knora.webapi.routing.v1.ValuesRouteV1" level="INFO"/>
    <logger name="org.knora.webapi.store.StoreManager" level="INFO"/>
    <logger name="org.knora.webapi.store.triplestore.TriplestoreManager" level="INFO"/>
    <logger name="org.knora.webapi.store.triplestore.http.HttpTriplestoreConnector" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.CkanResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.UsersResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.ProjectsResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.ResourcesResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.v1.ValuesResponderV1" level="INFO"/>
    <logger name="org.knora.webapi.responders.admin.PermissionsResponderADM" level="INFO"/>
    <logger name="org.knora.webapi.responders.admin.SipiResponderADM" level="INFO"/>
    <logger name="org.knora.webapi.responders.admin.StoresResponderADM" level="INFO"/>
    <logger name="org.knora.webapi.responders.admin.ListsResponderADM" level="INFO"/>
    <logger name="org.knora.webapi.viewhandlers.ResourceHtmlView" level="INFO"/>

    <!-- metrics logging (info level turns them on, error level turns them off -->
    <logger name="M-Main$" level="INFO"/>
    <logger name="M-UsersResponderADM" level="INFO"/>
    <logger name="M-HttpTriplestoreConnector" level="INFO"/>
    <logger name="M-CacheServiceManager" level="INFO"/>
    <logger name="M-CacheSerialization" level="INFO"/>

    <!-- for logging during tests, please see/use logback-test.xml under test/resources -->

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
